*{
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}

.logo{
    background-image: url("amazon_logo.png");
    height: 30px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

.nav-icon{
    display: flex;
    align-items: center;
}

.deliver{
    margin-left: 16px;
    color: #cccccc;
    font-size: 0.85rem;
}

.country{
    margin-left: 5px;
    font-size: 1rem;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    background-color: #febd68;
}

.nav-search:hover{
    border: 1px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-hello{
    color: #cccccc;
    font-size: 0.85rem;
}

.nav-acc{
    font-size: 1rem;
}

.nav-cart{
    display: flex;
    align-items: end;
}

.cart-icon{
    font-size: 1.75rem;
}

.panel{
    display: flex;
    height:40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-options{
    width: 80%;
}

.panel-all{
    display: flex;
    gap:5px;
}

.panel-options{
    display: flex;
    gap:20px;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 80%;
    margin-bottom: 20px;
}

.hero-message a{
    color: #007185;
}

.shop-section
{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(75, 105, 95);
    justify-content: space-evenly;
}

.box{
    height: 300px;
    background-color: white;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-content{
    margin-left: 1rem;
    margin-right:1rem;
}

.box-img{
    height: 220px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
}

.box-content p{
    color: #007185;
}

.foot-panel1{
    background-color: #37475a;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.85rem;
}

.foot-panel2{
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d;
    height: 320px;
    font-size: 0.85rem;
}

.panel2-div{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.panel2-div p{
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

.panel2-div a{
    color:#cccccc;
     padding-top: 8px;
}

.foot-panel3{
    background-color: #222f3d;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel3-logo{
    background-image: url("amazon_logo.png");
    height: 30px;
    width: 100px;
    background-size: cover; 
}

.foot-panel4{
    background-color: #0f1111;
    height: 70px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.80rem;
}

.condition-privacy p{
    display: inline;
    padding-right: 10px;
}

.copyright{
    margin-top: 7px;
}